<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CHINDO沁颜堂官方网站</title>
		<meta name="description" content="赫伯（Herbphy）源自新西兰。天然护肤品牌，凝聚自然精华及科技力量，赋予肌肤精粹营养。赫伯提供全面面部护理与身体护理，并为每一位客户匹配专业美容导师，量“肤”定制专业护理方案。" />
		<meta name="keyword" content="新西兰赫伯,精致护肤,新西兰麦卢卡,蜂妍凝金多元修护,赫伯官网,HERBPHY官网,赫伯,新西兰护肤,天然护肤品,私人定制,皮肤咨询,定制护肤,赫伯定制,私人护肤专家,麦卢卡蜂蜜"/>
		<link rel="stylesheet" href="../../assets/css/cn/hand_and_foot.css" />
		<link rel="stylesheet" href="../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../assets/css/cn/notice.css" />
	</head>
	<body>
		<header class="head">
			<div class="nav_box clearfix">
				<div class="chindo_logo">
					<img class="top_logo" src="../../assets/img/homepage/logo.png" />	
				</div>
				<ul class="chindo_nav clearfix">
					<li><a href="../../index.html">首页</li></a> 
					<li><a href="information.html">资讯</a></li>
					<li><a href="product.html">产品</a></li>
					<li><a href="brand.html">品牌</a></li>
					<li><a href="notice.html">须知</a></li>
					<li><a href="we.html">我们</a></li>
				</ul>
				<ul class="chindo_language">
					<li>|</li>
					<li><a>J</a></li>
					<li>|</li>
					<li><a>C</a></li>
					<li>|</li>
					<li><a>E</a></li>
				</ul>
			</div>
		</header>
		<div class="swiper-container">
			<div class='swiper-wrapper clearfix'>
				<div class="swiper-slide"><a><img src="../../assets/img/brand_banner1.jpg" /></a></div>
				<div class="swiper-slide"><a><img src="../../assets/img/brand_banner2.jpg" /></a></div>
				<div class="swiper-slide"><a><img src="../../assets/img/brand_banner3.jpg" /></a></div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		
		<div class="container">
			<div class="container_left">
				<img src="../../assets/img/brand_shiping3.jpg" />
				<!--<video src="../../assets/img/notice/" controls="controls"></video>-->
			</div>
			<div class="container_right brand_container">
				<ul class="clearWay">
					<li class="topLogo braand_topLog">
						<span>沁颜堂></span><em>来自日本的传统工艺品“熊野笔”</em>
					</li>
					<li>
						位于日本广岛安芸郡熊野町，是个有170年历史的笔乡，自1830年江户时代开始，
						就以精湛的毛笔制作技术文明全日本。现今以传统的手工技艺制作出非常有名的化妆刷， 
						如日本殿堂级品牌竹宝堂，白凤堂，竹田三大化妆刷品牌都诞生在这里，熊野成立了化妆刷协会，
						联合起来保护他们的品牌。2004年，熊野町内生产的毛笔、画笔和化妆笔均取得“熊野笔”这个
						团体商标，商品被称为“熊野笔”。“熊野笔”对于日本人来说不止是一种工具，更是一种精神。
					</li>
				</ul>
				<ul class="mattersNeedAttention">
					<li class="topLogo braand_topLog">
						<span>沁颜堂></span><em>熊野传统工艺师制造</em>
					</li>
					<li>
						沁颜堂由日本3位得到国家指定的传统工艺师导入制造毛笔的技术制作。
						笔刷的天然毛尖不通过机器切断，而是采用手工艺人一根一根做出，除此之外，
						沁颜堂对于毛的选拔和混毛工作也极其谨慎，全采用手工方式将原毛中混入的杂物、
						绵毛等剔除，再将开叉的、逆毛等拔出，这便促使沁颜堂天然的毛尖在刷脸过程中完
						全不刺激肌肤,上妆时抓粉性更强。沁颜堂每一支笔刷都包含了每一位匠人的心血。
					</li>
				</ul>
			
			</div>
		</div>
		<footer class="clearfix">
			<ul class="foot_nav_left">
				<li><a href="javascript:;">条件与条款</a></li>
				<li>|</li>
				<li><a href="javascript:;">快递查询</a></li>
				<li>|</li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li>|</li>
				<li><a href="javascript:;">网站地图</a></li>
			</ul>
			<ul  class="foot_nav_right ">
				<li>京ICP备11017824号-4</li>
				<li>Copyright © 2006-2017 CHINDO 沁颜堂</li>
			</ul>
		</footer>
		
		<script type="text/javascript" src="../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../assets/js/common/swiper.min.js" ></script>
		<script type="text/javascript" src="../../assets/js/cn/homepage.js" ></script>
	</body>
</html>
