<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CHINDO沁颜堂官方网站</title>
		<meta name="description" content="赫伯（Herbphy）源自新西兰。天然护肤品牌，凝聚自然精华及科技力量，赋予肌肤精粹营养。赫伯提供全面面部护理与身体护理，并为每一位客户匹配专业美容导师，量“肤”定制专业护理方案。" />
		<meta name="keyword" content="新西兰赫伯,精致护肤,新西兰麦卢卡,蜂妍凝金多元修护,赫伯官网,HERBPHY官网,赫伯,新西兰护肤,天然护肤品,私人定制,皮肤咨询,定制护肤,赫伯定制,私人护肤专家,麦卢卡蜂蜜"/>
		<link rel="stylesheet" href="../../assets/css/cn/hand_and_foot.css" />
		<link rel="stylesheet" href="../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../assets/css/cn/information.css" />
	</head>
	<body>
		<header class="head">
			<div class="nav_box clearfix">
				<div class="chindo_logo">
					<img class="top_logo" src="../../assets/img/homepage/logo.png" />	
				</div>
				<ul class="chindo_nav clearfix">
					<li><a href="../../index.html">首页</li></a> 
					<li><a href="information.html">资讯</a></li>
					<li><a href="product.html">产品</a></li>
					<li><a href="brand.html">品牌</a></li>
					<li><a href="notice.html">须知</a></li>
					<li><a href="we.html">我们</a></li>
				</ul>
				<ul class="chindo_language">
					<li>|</li>
					<li><a>J</a></li>
					<li>|</li>
					<li><a>C</a></li>
					<li>|</li>
					<li><a>E</a></li>
				</ul>
			</div>
		</header>
		<div class="swiper-container">
			<div class='swiper-wrapper clearfix'>
				<div class="swiper-slide"><a><img src="../../assets/img/information_banner1.jpg" /></a></div>
				<div class="swiper-slide"><a><img src="../../assets/img/information_banner2.jpg" /></a></div>
				<div class="swiper-slide"><a><img src="../../assets/img/information_banner3.jpg" /></a></div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		
		<div class="container">
			<div class="container_left">
				<ul>
					<li data-li="0"><a href="javascript:;">
						<p class="title">沁颜堂新品金秋上市 ></p>   
						<p class="intro">斜粉刷用作整个脸部底妆的上妆、或者用来擦拭掉多余的散粉以
							便使妆容显得更加自然。也可以用来做脸部的提亮和高光，使整体脸部
							呈现完美的妆容。
						</p>
					</a></li>
					<li data-li="1"><a href="javascript:;">
						<p class="title">上海美博会－沁颜堂初次亮相 ></p>   
						<p class="intro">
							斜粉刷用作整个脸部底妆的上妆、或者用来擦拭掉多余的散粉以便使妆容
							显得更加自然。也可以用来做脸部的提亮和高光，使整体脸部呈现完美的妆容。
							使整体脸部呈现完美的妆容。
						</p>
					</a></li>
					<li data-li="2"><a href="javascript:;">
						<p class="title">笔－工艺一流 ></p>   
						<p class="intro">
							脸部底妆的上妆、或者用来擦拭掉多余的散粉以便使妆容显得更加自然。
							也可以用来做脸部的提亮和高光，使整体脸部呈现完美的妆容。
						</p>
					</a></li>
					<li data-li="3"><a href="javascript:;">
						<p class="title">求精 ></p>   
						<p class="intro">
							脸部底妆的上妆、或者用来擦拭掉多余的散粉以便使妆容显得更加自然。
							也可以用来做脸部的提亮和高光，使整体脸部呈现完美的妆容。
						</p>
					</a></li>
				</ul>
			</div>
			<div class="container_right">
				<div class="zixun_pic">
					<img src="../../assets/img/information_zixun1.jpg" />
					<img class="picShow" src="../../assets/img/information_zixun2.jpg" />
					<img class="picShow" src="../../assets/img/information_zixun3.jpg" />
					<img class="picShow" src="../../assets/img/information_zixun4.jpg" />
				</div>
			</div>
		</div>
		<footer class="clearfix">
			<ul class="foot_nav_left">
				<li><a href="javascript:;">条件与条款</a></li>
				<li>|</li>
				<li><a href="javascript:;">快递查询</a></li>
				<li>|</li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li>|</li>
				<li><a href="javascript:;">网站地图</a></li>
			</ul>
			<ul  class="foot_nav_right ">
				<li>京ICP备11017824号-4</li>
				<li>Copyright © 2006-2017 CHINDO 沁颜堂</li>
			</ul>
		</footer>
		
		<script type="text/javascript" src="../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../assets/js/common/swiper.min.js" ></script>
		<script type="text/javascript" src="../../assets/js/cn/homepage.js" ></script>
		<script type="text/javascript" src="../../assets/js/cn/information.js" ></script>
	</body>
</html>
