<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CHINDO沁颜堂官方网站</title>
		<meta name="description" content="赫伯（Herbphy）源自新西兰。天然护肤品牌，凝聚自然精华及科技力量，赋予肌肤精粹营养。赫伯提供全面面部护理与身体护理，并为每一位客户匹配专业美容导师，量“肤”定制专业护理方案。" />
		<meta name="keyword" content="新西兰赫伯,精致护肤,新西兰麦卢卡,蜂妍凝金多元修护,赫伯官网,HERBPHY官网,赫伯,新西兰护肤,天然护肤品,私人定制,皮肤咨询,定制护肤,赫伯定制,私人护肤专家,麦卢卡蜂蜜"/>
		<link rel="stylesheet" href="../../assets/css/cn/hand_and_foot.css" />
		<link rel="stylesheet" href="../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../assets/css/cn/notice.css" />
	</head>
	<body>
		<header class="head">
			<div class="nav_box clearfix">
				<div class="chindo_logo">
					<img class="top_logo" src="../../assets/img/homepage/logo.png" />	
				</div>
				<ul class="chindo_nav clearfix">
					<li><a href="../../index.html">首页</li></a> 
					<li><a href="information.html">资讯</a></li>
					<li><a href="product.html">产品</a></li>
					<li><a href="brand.html">品牌</a></li>
					<li><a href="notice.html">须知</a></li>
					<li><a href="we.html">我们</a></li>
				</ul>
				<ul class="chindo_language">
					<li>|</li>
					<li><a>J</a></li>
					<li>|</li>
					<li><a>C</a></li>
					<li>|</li>
					<li><a>E</a></li>
				</ul>
			</div>
		</header>
		<div class="swiper-container">
			<div class='swiper-wrapper clearfix'>
				<div class="swiper-slide"><a><img src="../../assets/img/notice/notice_banner1.jpg" /></a></div>
				<div class="swiper-slide"><a><img src="../../assets/img/notice/notice_banner2.jpg" /></a></div>
				<div class="swiper-slide"><a><img src="../../assets/img/notice/notice_banner3.jpg" /></a></div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		
		<div class="container">
			<div class="container_left">
				<img src="../../assets/img/notice/notice_xuzhi1.jpg" />
				<!--<video src="../../assets/img/notice/" controls="controls"></video>-->
			</div>
			<div class="container_right">
				<ul class="clearWay">
					<li class="topLogo">
						<img src="../../assets/img/notice/notice_qinglifangfa.png" />
						<span>化妆笔的清理方法：</span>
					</li>
					<li>①每次使用后，在卫生纸上来回抚动将剩余的化妆粉清理干净。</li>
					<li>②如果清理不干净，请在微温的水中加入清洁剂（非碱性），然后轻轻揉洗。洗净后请注意笔上不要残</li>
					<li>③留清洁剂，用手指挤压出残留水分，整理好刷毛形状后自然晾干即可。</li>
					<li>※化妆笔在制造时采用高温洗净处理，刚开始使用时有掉色的情况。染料使用安全染料，对产品品质和肌肤不会造成影响，请放心使用。</li>
					<li class="gesture">
						<img src="../../assets/img/notice/notice_shoushi1.png" />
						<img src="../../assets/img/notice/notice_shoushi2.png" />
						<img src="../../assets/img/notice/notice_shoushi3.png" />
					</li>
				</ul>
				<ul class="mattersNeedAttention">
					<li class="topLogo">
						<img src="../../assets/img/notice/notice_zhuyishix.png" />
						<span>使用时的注意事项：</span>
					</li>
					<li>①用水冲洗和使用干燥机（吹风机）会损伤笔刷，请避免使用。</li>
					<li>②刚开始使用时，刷毛会有气味，随着使用时间变长气味会渐渐消失。（对气味的感觉会因人而异）</li>
					<li>③为防治霉变，请避免密闭状态及潮湿。</li>
				</ul>
			
			</div>
		</div>
		<footer class="clearfix">
			<ul class="foot_nav_left">
				<li><a href="javascript:;">条件与条款</a></li>
				<li>|</li>
				<li><a href="javascript:;">快递查询</a></li>
				<li>|</li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li>|</li>
				<li><a href="javascript:;">网站地图</a></li>
			</ul>
			<ul  class="foot_nav_right ">
				<li>京ICP备11017824号-4</li>
				<li>Copyright © 2006-2017 CHINDO 沁颜堂</li>
			</ul>
		</footer>
		
		<script type="text/javascript" src="../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../assets/js/common/swiper.min.js" ></script>
		<script type="text/javascript" src="../../assets/js/cn/homepage.js" ></script>

	</body>
</html>
