<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CHINDO沁颜堂官方网站</title>
		<meta name="description" content="赫伯（Herbphy）源自新西兰。天然护肤品牌，凝聚自然精华及科技力量，赋予肌肤精粹营养。赫伯提供全面面部护理与身体护理，并为每一位客户匹配专业美容导师，量“肤”定制专业护理方案。" />
		<meta name="keyword" content="新西兰赫伯,精致护肤,新西兰麦卢卡,蜂妍凝金多元修护,赫伯官网,HERBPHY官网,赫伯,新西兰护肤,天然护肤品,私人定制,皮肤咨询,定制护肤,赫伯定制,私人护肤专家,麦卢卡蜂蜜"/>
		<link rel="stylesheet" href="../../assets/css/cn/hand_and_foot.css" />
		<link rel="stylesheet" href="../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../assets/css/cn/product.css" />
	</head>
	<body>
		<header class="head">
			<div class="nav_box clearfix">
				<div class="chindo_logo">
					<img class="top_logo" src="../../assets/img/homepage/logo.png" />	
				</div>
				<ul class="chindo_nav clearfix">
					<li><a href="../../index.html">首页</li></a> 
					<li><a href="information.html">资讯</a></li>
					<li><a href="product.html">产品</a></li>
					<li><a href="brand.html">品牌</a></li>
					<li><a href="notice.html">须知</a></li>
					<li><a href="we.html">我们</a></li>
				</ul>
				<ul class="chindo_language">
					<li>|</li>
					<li><a>J</a></li>
					<li>|</li>
					<li><a>C</a></li>
					<li>|</li>
					<li><a>E</a></li>
				</ul>
			</div>
		</header>
		<div class="swiper-container">
			<div class='swiper-wrapper clearfix'>
				<div class="swiper-slide"><a><img src="../../assets/img/product/product_banner1.jpg" /></a></div>
				<div class="swiper-slide"><a><img src="../../assets/img/product/product_banner1.jpg" /></a></div>
				<div class="swiper-slide"><a><img src="../../assets/img/product/product_banner1.jpg" /></a></div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		
		<div class="container">
			<div class="container_left">
				<ul class="listHeader clearfix">
					<li>单支</li>
					<li>套装</li>
					<li>礼盒</li>
					<li>其他</li>
				</ul>
				<ul class="commodityList">
					<li data-li="0"><a href="javascript:;">粉底液刷<em class="more">查看更多></em></a></li>
					<li data-li="1"><a href="javascript:;">腮红刷</a></li>
					<li data-li="2"><a href="javascript:;">眼影刷（大）</a></li>
					<li data-li="3"><a href="javascript:;">眼影刷（中）</a></li>
					<li data-li="4"><a href="javascript:;">眼影刷（小）</a></li>
					<li data-li="5"><a href="javascript:;">眼线刷</a></li>
					<li data-li="6"><a href="javascript:;">唇刷</a></li>
					<li data-li="7"><a href="javascript:;">散粉刷</a></li>
					<li data-li="8"><a href="javascript:;">高光刷</a></li>
					<li data-li="9"><a href="javascript:;">眉粉刷</a></li>
					<li data-li="10"><a href="javascript:;">斜散粉刷</a></li>
					<li data-li="11"><a href="javascript:;">鼻影刷</a></li>
					<li data-li="12"><a href="javascript:;">下眼影刷</a></li>
					<li data-li="13"><a href="javascript:;">理眉刷</a></li>
				</ul>
			</div>
			<div class="container_right">
				<div class="zixun_pic">
					<img src="../../assets/img/product/product_fendiyeshua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_saihongshua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_yanyinshua_da.jpg" />
					<img class="picShow" src="../../assets/img/product/product_yanyinshau_zhong1.jpg" />
					<img class="picShow" src="../../assets/img/product/product_yanyinshua_xiao.jpg" />
					<img class="picShow" src="../../assets/img/product/product_yanxianshau.jpg" />
					<img class="picShow" src="../../assets/img/product/product_chunshua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_sanfenshua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_gaoguangshua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_xiesanfenshua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_biyingshua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_xiayanyinshua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_limeishua.jpg" />
					<img class="picShow" src="../../assets/img/product/product_chunshua.jpg" />
				</div>
			</div>
		</div>
		<footer class="clearfix">
			<ul class="foot_nav_left">
				<li><a href="javascript:;">条件与条款</a></li>
				<li>|</li>
				<li><a href="javascript:;">快递查询</a></li>
				<li>|</li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li>|</li>
				<li><a href="javascript:;">网站地图</a></li>
			</ul>
			<ul  class="foot_nav_right ">
				<li>京ICP备11017824号-4</li>
				<li>Copyright © 2006-2017 CHINDO 沁颜堂</li>
			</ul>
		</footer>
		
		<script type="text/javascript" src="../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../assets/js/common/swiper.min.js" ></script>
		<script type="text/javascript" src="../../assets/js/cn/homepage.js" ></script>
		<script type="text/javascript" src="../../assets/js/cn/product.js" ></script>
	</body>
</html>
