<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CHINDO沁颜堂官方网站</title>
		<meta name="description" content="赫伯（Herbphy）源自新西兰。天然护肤品牌，凝聚自然精华及科技力量，赋予肌肤精粹营养。赫伯提供全面面部护理与身体护理，并为每一位客户匹配专业美容导师，量“肤”定制专业护理方案。" />
		<meta name="keyword" content="新西兰赫伯,精致护肤,新西兰麦卢卡,蜂妍凝金多元修护,赫伯官网,HERBPHY官网,赫伯,新西兰护肤,天然护肤品,私人定制,皮肤咨询,定制护肤,赫伯定制,私人护肤专家,麦卢卡蜂蜜"/>
		<link rel="stylesheet" href="../../assets/css/cn/hand_and_foot.css" />
		<link rel="stylesheet" href="../../assets/css/cn/we.css" />
	</head>
	<body>
		<header class="head">
			<div class="nav_box clearfix">
				<div class="chindo_logo">
					<img class="top_logo" src="../../assets/img/homepage/logo.png" />	
				</div>
				<ul class="chindo_nav clearfix">
					<li><a href="../../index.html">首页</li></a> 
					<li><a href="information.html">资讯</a></li>
					<li><a href="product.html">产品</a></li>
					<li><a href="brand.html">品牌</a></li>
					<li><a href="notice.html">须知</a></li>
					<li><a href="we.html">我们</a></li>
				</ul>
				<ul class="chindo_language">
					<li>|</li>
					<li><a>J</a></li>
					<li>|</li>
					<li><a>C</a></li>
					<li>|</li>
					<li><a>E</a></li>
				</ul>
			</div>
		</header>
		<div class="banner">
			<img src="../../assets/img/chindo_we_banner.jpg" />
		</div>
		
		<div class="container">
			<div class="container_left">
				<img src="../../assets/img/chindo_we_map.jpg" />
			</div>
			<div class="container_right">
				<h2>日本沁颜堂</h2>
				<div>
					<p>日本沁颜堂株式会社</p>
					<p>XI'AN MORNING ADVERTISING CULTURE COMMUNICATION CO., LTD.</p>
				</div>
				<div class="address">
					<p>我们的位置：</p>
					<p>日本广岛安芸郡熊野町平谷4丁目4-7</p>
					<p>CHINA. WANDA PLAZA NEAR XI'AN CITY TAIHUA ROAD NO. 4 BUILDING 23 LAYER</p>
					<p>PC : 710018电话 +86 - 15389262890（品牌经理热线）拨打手机更直接！</p>
					<p>传真 +86 - 029 - 86219200业务支持：SALE@WARM-MORNING.COM 技术支持：SUPORT@WARM-MORNING.COM</p>
					<p>日本沁颜堂株式会社</p>
				</div>
				<div class="address">
					<p>付款方式：</p>
					<p>户 名：日本沁颜堂株式会社</p>
					<p>开户行：招商银行股份有限公司</p>
					<p>西安未央路支行</p>
					<p>帐 号：129904955210906</p>
				</div>
			
			</div>
		</div>
		<footer class="clearfix">
			<ul class="foot_nav_left">
				<li><a href="javascript:;">条件与条款</a></li>
				<li>|</li>
				<li><a href="javascript:;">快递查询</a></li>
				<li>|</li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li>|</li>
				<li><a href="javascript:;">网站地图</a></li>
			</ul>
			<ul  class="foot_nav_right ">
				<li>京ICP备11017824号-4</li>
				<li>Copyright © 2006-2017 CHINDO 沁颜堂</li>
			</ul>
		</footer>
		
		<script type="text/javascript" src="../../assets/js/common/jquery.min.2.1.1.js" ></script>
	</body>
</html>
