<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯跨界《记忆大师》记忆肌肤晶莹水光肌</title>
		<link rel="stylesheet" href="../../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/news_information_subpage.css" />	
	<style>
		footer{position: fixed;bottom: 0px;}
		.textTitle{font-size: 25px;}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		
		<section class="container">
			<div class="swiper-container">
				<div class='swiper-wrapper'>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_battle_of_memories_carousel1.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_battle_of_memories_carousel2.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_battle_of_memories_carousel3.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_battle_of_memories_carousel4.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_battle_of_memories_carousel5.png" /></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="context">
				<p class="textTitle">赫伯跨界《记忆大师》记忆肌肤晶莹水光肌</p>
				<p class="en_name en_name_first">HERBPHY COOPERATION WITH</p>
				<p class="en_name">THE MOVIE "MEMORY MASTER"</p>
				<p class="cn_name cn_name_size">赫伯与电影《记忆大师》合作，推出限量版保湿面膜。</p>
				<div class="intro">
					<p>2017年4月16日，北京国际电影节在怀柔区中影数字制作基底开幕，《记忆大师》作为北京国际电影节闭幕影片压轴亮相。</p>
					<p>该片由知名导演陈正道执导，黄渤、段奕宏、徐静蕾、杨子珊等主演。这部电影是黄渤、段奕宏这两大华语影帝的首度合作，再加上徐静蕾、杨子珊等颜值与演技双双在线的女演员，使得电影还未上映，网上一致好评如潮。被网友誉为“五一档最值得期待的电影”。</p>
					<p>HERBPHY赫伯跨界合作《记忆大师》不仅仅是机缘的巧合，更是HERBPHY赫伯与《记忆大师》内在深度的相似。影片讲述的是黄渤饰演男主的记忆被删除之后，再次被找回的故事。同样HERBPHY赫伯具有记忆肌肤状态的能力，成年后的肌肤因为外在环境，内在生理环境等 “记忆因素”导致肌肤在25岁之后出现暗淡无光泽、皱纹、粗糙等系列肌肤问题。HERBPHY赫伯独有的“焕肤记忆系统”，能够深入挖掘肌肤内在环境因素。删除肌肤“曾经被伤害的记忆”，修复肌肤内在的损伤，重新开启肌肤的“初生的记忆”。HERBPHY赫伯独有的“焕肤记忆系统“能够滋养肌肤内在，深入到肌肤的底层，重新焕活肌肤记忆的源头。”焕肤记忆系统“滋养内在同时还能够重塑肌肤的外在，修复肌肤外在抵御环境的屏障，从根本上杜绝因外界损伤对肌肤造成的损伤。</p>
					<p>HERBPHY赫伯针对《记忆大师》的跨界合作推出一款限量版产品——赫伯沁润晶滢保湿面膜，层层沁润渗透赋活“焕肤记忆系统“。渗透、生长、修护、促新的四步焕肤记忆统，重焕肌肤晶莹水光肌，让肌肤永远保持年轻态的记忆！</p>
				</div>
			</div>
		</section>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
		
		
		<script type="text/javascript" src="../../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../../assets/js/chinese_version/homepage.js" ></script>
		<script type="text/javascript" src="../../../assets/js/common/swiper.min.js" ></script>

	</body>
</html>
