<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯跨界合作《健忘村》打响2017年品牌多元化传播第一枪</title>
		<link rel="stylesheet" href="../../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/news_information_subpage.css" />	
	<style>
		footer{position: fixed;bottom: 0px;}
		.textTitle{font-size: 25px;}
		.intro_title{font-size: 18px;margin-bottom:-26px;}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		
		<section class="container">
			<div class="swiper-container">
				<div class='swiper-wrapper'>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_forgetful_village_carousel1.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_forgetful_village_carousel2.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_forgetful_village_carousel3.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_forgetful_village_carousel4.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_forgetful_village_carousel5.png" /></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="context">
				<p class="textTitle">赫伯跨界合作《健忘村》<br/>打响2017年品牌多元化传播第一枪</p>
				<p class="en_name en_name_first">HERBPHY COOPERATION WITH</p>
				<p class="en_name">THE MOVIE "FORGETFUL VILLAGE"</p>
				<p class="cn_name cn_name_size">赫伯与电影《健忘村》合作，推出限量版洁面慕斯。</p>
				<div class="intro">
					<p>
						2017年1月17日,超现实荒诞主义电影—《健忘村》在京举行首映发布会。影片主要讲述在一篇世外桃源般的村落里，因为一名不素之客的到访和一个神秘宝物的出现而引发的一系列喜剧故事。
					</p>
					<p>
						影片由舒淇、王千源、杨佑宁、曾志伟等众多实力派主演，外加精良的专业制作团队使得电影还未播出，网上就有一篇呼声。HERBPHY赫伯对此影片始终保持高关注度。
					</p>
					<p class="intro_title">与时俱进，顺势而为</p>
					<p>
						近年来国内众多大牌化妆品纷纷与知名明星跨界合作，HERBPHY赫伯审时度势借助市场的大环境，开启跨界合作全方位多元化品牌的新方向。随着《健忘村》首映礼的发布，HERBPHY赫伯也是准备就绪重磅出击，打造HERBPHY赫伯全方位多元化品牌目标的2017年第一枪。

					</p>
					<p class="intro_title">精品化战略机制，一对一定制肌肤真实之美</p>
					<p>
						拥有豪华明星阵容的《健忘村》凭借精良制作、超强主演阵容和超高的话题关注度，等条件毋庸置疑使得《健忘村》是众多贺岁片中的现象级电影。HERBPHY赫伯作为国内一对一私人护肤领导品牌，
						诞生于2011年。HERBPHY赫伯研究所配备了科学分析实验室与临床实验室，针对消费者皮肤的特征和新西兰特有的多样性天然植物方面的研究，并结合中国环境特性的因素，将相关成果应用于产品开发。
						 HERBPHY赫伯从最初的产品成分的研究，到产品瓶器的设计定制，再到产品的外包装等从品牌形象到产品的品质都传达了HERBPHY赫伯精品化的战略机制。HERBPHY赫伯与《健忘村》之间的共同品牌契合度，
						 促进了二者之间的跨界合作。
					</p>
					<p class="intro_title">
						全方位整合资源，全渠道协力借势
					</p>
					<p>
						HERBPHY赫伯在这次跨界合作中全方位资源搭配，打破了不同平台和资源之间的界限。全方位整合资源、多屏幕、多平台将HERBPHY赫伯与《健忘村》紧密联系，最优化资源配置，最大化传播资源。同时辅助微博社交话题、电影内容热点，多维度打造HERBPHY赫伯品牌话题，
						全面助力品牌口碑。
					</p>
					<p>
						此次HERBPHY赫伯跨界合作《健忘村》，打响了2017年HERBPHY赫伯品牌全方位多元化第一枪，也为后续多元化品牌营销打下了坚实的基础。
					</p>
				</div>
			</div>
		</section>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
		
		
		<script type="text/javascript" src="../../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../../assets/js/chinese_version/homepage.js" ></script>
		<script type="text/javascript" src="../../../assets/js/common/swiper.min.js" ></script>

	</body>
</html>
