<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯跨界合作电影《外公芳龄38》多面契合共同铸造品牌</title>
		<link rel="stylesheet" href="../../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/news_information_subpage.css" />	
	<style>
		footer{position: fixed;bottom: 0px;}
		.textTitle{font-size: 25px;}
		.intro_title{font-size: 18px;margin-bottom:-26px;}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		
		<section class="container">
			<div class="swiper-container">
				<div class='swiper-wrapper'>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_grandfather_age1.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_grandfather_age2.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_grandfather_age3.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_grandfather_age4.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_grandfather_age5.png" /></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="context">
				<p class="textTitle">赫伯跨界合作电影《外公芳龄38》<br/>多面契合共同铸造品牌</p>
				<p class="en_name en_name_first">HERBPHY COOPERATION WITH </p>
				<p class="en_name">THE MOVIE "FORGETFUL VILLAGE"</p>
				<p class="cn_name cn_name_size">赫伯与电影《外公芳龄38》合作，推出限量版礼盒。</p>
				<div class="intro">
					<p>016年11月6日合家欢喜剧《外公芳龄38》在北京举行电影首映发布会，导演携佟大为、陈妍希等主创亮相首映礼。电影讲述的是单亲妈妈千里寻父，带着儿子空降到素未谋面的外公家，与同一屋檐下的祖孙三代擦出无数火花的爆笑故事。</p>
					<p>《外公芳龄38》虽然沿袭了原版的故事主线，但是下了很多功夫做本土化和差异化的处理。针对国内市场的特殊性，电影设计了独特的故事片段。HERBPHY赫伯虽然源于新西兰，但是针对消费者的皮肤特性并且结合中国环境特性的因素，将相关的成果应用到HERBPHY赫伯品牌产品之中，精准化国内消费者对于产品的需求。</p>
					<p>电影借助个性化、独特的故事，创造了一个独一无二的喜剧效果。HERBPHY赫伯同样也拥有个性化和独特化的服务方式，专业美容护肤团队提供专业的私人化肌肤方案。HERBPHY赫伯不仅在产品有一定的成就，同样致力于打造系统的专业化的肌肤护肤方案。</p>
					<p>赫伯首推主题限定版礼盒 助力电影极速狂飙HERBPHY赫伯跨界合作《外公芳龄38》，多方面的契合度共同铸就了独一无二的品牌。</p>
				</div>
			</div>
		</section>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
		
		
		<script type="text/javascript" src="../../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../../assets/js/chinese_version/homepage.js" ></script>
		<script type="text/javascript" src="../../../assets/js/common/swiper.min.js" ></script>

	</body>
</html>
