<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>层层沁润渗透 恒现晶滢水光肌</title>
		<link rel="stylesheet" href="../../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/news_information_subpage.css" />	
	<style>
		footer{position: fixed;bottom: 0px;}
		.textTitle{font-size: 34px;}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		
		<section class="container">
			<div class="swiper-container">
				<div class='swiper-wrapper'>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_new_product_release_carousel1.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_new_product_release_carousel2.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_new_product_release_carousel3.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_new_product_release_carousel4.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_news_information_subpage_new_product_release_carousel5.png" /></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="context">
				<p class="textTitle">层层沁润渗透  恒现晶滢水光肌</p>
				<p class="en_name en_name_first">CRYSTAL EXTRA</p>
				<p class="en_name">MOISTURIZING MASK</p>
				<p class="cn_name cn_name_size">赫伯沁润晶滢保湿面膜</p>
				<div class="intro">
					<p>
						不是所有玻尿酸都能补水传统标准型玻尿酸属于表层覆盖型玻尿酸，
						玻尿酸分子只能溜溜在肌肤表层，这样的玻尿酸涂抹于肌肤表层，
						不但会从外界环境吸收水份，也会吸收人体皮肤中的水份，时间久了，
						反而会造成皮肤干燥。
					</p>
					<p>
						赋活肌底       重现晶滢水光肌
					</p>
					<p>
						 >智慧型三分子玻尿酸<br/>大分子抓水、中分子补水、小分子锁水<br/>
						真正改善肌肤内部缺水的情况，为肌肤建立天然保湿的防御屏障</p>
					</p>
					<p>
						 > SYC 修复因子，重建健康肌底<br/>赋予肌肤抵抗力，抵御衰老迹象<br/>
						 密集滋养，恒现晶滢水光肌</p>
					</p>
					<p>
						智慧型三分子玻尿酸    由内而外全面激活
					</p>
					<p>
						 > 强韧屏障---表层覆盖型(角质层)玻尿酸于肌肤表层形成天然保湿膜，消除肌肤因紫外线照射所产生的活性自由基，防止黑色素沉淀。
					</p>
					<p>
						 > 深层渗透----底层渗透型(基底层)玻尿酸具备超细分子结构，能渗透到皮肤基底层，提高肌肤保水能力，持续滋润肌肤，促进血液微循环，增加皮肤弹性，延缓肌肤衰老。
					</p>
					<p>
						 > 深层渗透----底层渗透型(基底层)玻尿酸具备超细分子结构，能渗透到皮肤基底层，提高肌肤保水能力，持续滋润肌肤，促进血液微循环，增加皮肤弹性，延缓肌肤衰老。
					</p>
				</div>
			</div>
		</section>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
		
		
		<script type="text/javascript" src="../../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../../assets/js/chinese_version/homepage.js" ></script>
		<script type="text/javascript" src="../../../assets/js/common/swiper.min.js" ></script>

	</body>
</html>
