<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯品牌登陆《美丽俏佳人》栏目</title>
		<link rel="stylesheet" href="../../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
		<link rel="stylesheet" href="../../../assets/css/chinese_version/news_information_subpage.css" />	
	<style>
		footer{position: fixed;bottom: 0px;}
		.textTitle{font-size: 25px;}
		.intro_title{font-size: 18px;margin-bottom:-26px;}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		
		<section class="container">
			<div class="swiper-container">
				<div class='swiper-wrapper'>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_pretty_woman_news_information_subpage1.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_pretty_woman_news_information_subpage2.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_pretty_woman_news_information_subpage3.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_pretty_woman_news_information_subpage4.png" /></div>
					<div class="swiper-slide"><img src="../../../assets/img/jlcl_pc_pretty_woman_news_information_subpage5.png" /></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="context">
				<p class="textTitle">赫伯品牌登陆《美丽俏佳人》栏目</p>
				<p class="en_name en_name_first">HERBPHY BRAND  LANDING</p>
				<p class="en_name">> PRETTYWOMAN < COLUMN</p>
				<p class="cn_name cn_name_size">赫伯产品亮相《美丽俏佳人》独家解密肌肤“蜜”语</p>
				<div class="intro">
					<p>2016年5月1日，源自新西兰以‘缔造肌肤真实之美’为品牌理念的护肤品牌赫伯在安徽卫视<美丽俏佳人>节目中隆重亮相。该栏目是东方风行集团策划出品的大型美妆时尚类节目，是中国第一档大型时尚美妆节目，由护肤专家为爱美人士传授美容技巧，分享美容心得。</p>
					<p>赫伯品牌此次联合美丽俏佳人，结合知名主持人李静和美妆达人陈查理老师的联合推介，借助它超高的知名度和对消费者的高度影响力，全方位、立体地影响赫伯的目标受众。</p>
					
				</div>
			</div>
		</section>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
		
		
		<script type="text/javascript" src="../../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../../assets/js/chinese_version/homepage.js" ></script>
		<script type="text/javascript" src="../../../assets/js/common/swiper.min.js" ></script>

	</body>
</html>
