<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>联系我们</title>
		<link rel="stylesheet" href="../../assets/css/chinese_version/homepage.css" />
		
	<style>
		.foot{margin-top: 10%;}
		.banner{width: 100%;height: 600px;}
		.banner img{width: 100%;}
		.container{width:80%;margin:4% auto;}
		.container img{width: 50%;}
		.content{width:30%;font-family: "微软雅黑";color: #533823;float: right;text-align: right;font-weight: 400;}
		.CompanyName{height: 40px;border-bottom: 2px solid #533823;font-size: 18px;font-weight: 800;}
		.CompanyId{margin-top: 20px;}
		.CompanyPhone,.CompanyE-mail{margin-top: 10px;}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box news_information_nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../index.html">首页</a></li> 
					<li><a href="news_information_page.html">新闻资讯</a></li>
					<li><a href="product_page.html">赫伯产品</a></li>
					<li><a href="hot_sale_page.html">热销榜单</a></li>
					<li><a href="brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		<div class="banner">
			<img src="../../assets/img/jlcl_pc_contact_us_banner.jpg" />
		</div>
		
		<div class="container">
			<img src="../../assets/img/jlcl_pc_contact us_map.jpg" />
			<div class="content">
				<p class="CompanyName">聚力创联电子商务有限公司</p>
				<p class="CompanyId">公司地址：北京市朝阳区康佳沟路145号<br/>锦裕写字楼A320室</p>
				<p class="CompanyPhone">联系电话：010-8579 0205</p>
				<p class="CompanyE-mail">公司邮箱：JL_HRhr@jlclmall.cn</p>
			</div>
		</div>
		<footer class="foot">
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
		

	</body>
</html>
