<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻资讯</title>
		<link rel="stylesheet" href="../../assets/css/common/swiper.min.css" />
		<link rel="stylesheet" href="../../assets/css/chinese_version/homepage.css" />
		
	<style>
		.news_shinetop{width: 57.5%;margin: 21px auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
		.news_shinetop div{width: 33%;}
		.news_shinetop img{width: 100%;}
		.foot{margin-top: 6%;}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box news_information_nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../index.html">首页</a></li> 
					<li><a href="news_information_page.html">新闻资讯</a></li>
					<li><a href="product_page.html">赫伯产品</a></li>
					<li><a href="hot_sale_page.html">热销榜单</a></li>
					<li><a href="brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		<div class="swiper-container">
			<div class='swiper-wrapper'>
				<div class="swiper-slide"><img src="../../assets/img/jlcl_pc_news_information_page_banner1.jpg" /></div>
				<div class="swiper-slide"><img src="../../assets/img/jlcl_pc_news_information_page_banner2.jpg" /></div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<section class="container">
			<div class="news_shinetop">
				<div>
					<a href="news_information_subpage/expo_page.html">
						<img src="../../assets/img/jlcl_pc_news_information_page_shinetop01.jpg" />
					</a> 
				</div>
				<div>
					<a href="news_information_subpage/battle_of_memories_page.html">
						<img src="../../assets/img/jlcl_pc_news_information_page_shinetop02.jpg" />
					</a> 
				</div>
				<div>
					<a href="news_information_subpage/forgetful_village.html">
						<img src="../../assets/img/jlcl_pc_news_information_page_shinetop03.jpg" />
					</a>
				</div>
				<div>
					<a href="news_information_subpage/new_product_release.html">
						<img src="../../assets/img/jlcl_pc_news_information_page_shinetop04.jpg" />
					</a>
				</div>
				<div>
					<a href="news_information_subpage/pretty_woman.html">
						<img src="../../assets/img/jlcl_pc_news_information_page_shinetop05.jpg" />
					</a>
				</div>
				<div>
					<a href="news_information_subpage/grandfather_age.html">
						<img src="../../assets/img/jlcl_pc_news_information_page_shinetop06.jpg" />
					</a>
				</div>
			</div>
		</section>
		<footer class="foot">
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
		
		<script type="text/javascript" src="../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../assets/js/chinese_version/homepage.js" ></script>
		<script type="text/javascript" src="../../assets/js/common/swiper.min.js" ></script>

	</body>
</html>
