<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
		<title>首页</title>
		<link rel="stylesheet" href="../../assets/css/common/mui.min.css" />
		<style>
		html,body{background: #2f2725;}
			.container{width: 100%;}
			header img{width: 100%;display: block;}
			.mui-table-view{width: 100%;display: flex;justify-content: space-between;flex-wrap: wrap;}
			ul li{width: 33%;height: 105px;float: left;text-align: center;line-height: 24px;}
			.skin_img{width: 57.5px;}
			ul p{font-size: 14px;}
			.the_first_row{margin-top: 20px;}
		</style>
	</head>
	<body>
		<section class="container">
			<header>
				<img src="../../assets/img/jlcl_banner.jpg" />
			</header>
		    <ul class="mui-table-view">
				<li class="the_first_row">
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_jlmall.svg">
						<p>聚力商城</p>
					</a>
				</li>
				<li class="the_first_row">
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_totalmall.svg">
						<p>积分商城</p>
					</a>
				</li>
				<li class="the_first_row">
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_mallrules.svg">
						<p>商城规则</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_personalcenter.svg">
						<p>个人中心</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_promotionmaterial.svg">
						<p>宣传素材</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_onlinetest.svg">
						<p>在线考试</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_brandintroduce.svg">
						<p>品牌介绍</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_skinmanage.svg">
						<p>肌肤管理</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="skin_img" src="../../assets/img/jlcl_homepage_skinclassroom.svg">
						<p>美肤课堂</p>
					</a>
				</li>
			</ul>
		</section>
		
		
		<script type="text/javascript" src="../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../assets/js/common/mui.min.js" ></script>
	</body>
</html>
