<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1" />
		<title>选择肌肤问题</title>
		<link rel="stylesheet" href="../../../assets/css/common/mui.min.css" />
		<link rel="stylesheet" href="../../../assets/css/ai_qa/user_qa_homepage.css" />
		<style>
			
		</style>
	</head>
	<body>
		<header>
			<div class="top_list clearfix">
				
			</div>
			
		</header>
		<section class="more_list">
			<a href="../actualite_list.html">更多<span>></span></a>
		</section>
		
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="qa_container" id="qa_container">
			
				</div>
			</div>
		</div>
			
		
		<footer class="skin_report"><a href="../ai_qa/user_ask_question.html">我要提问</a></footer>
		
		<script type="text/javascript" src="../../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../../assets/js/common/mui.min.js" ></script>
		<script type="text/javascript" src="../../../assets/js/ai_qa/user_qa_homepage.js" ></script>
	
		
	</body>
</html>
