<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1" />
		<title>用户解答问题</title>
		<link rel="stylesheet" href="../../../assets/css/ai_qa/user_answer_question.css" />
	</head>
	<body>
		<div class="headerContainer">
			<ul class="content">
				<li class="clearfix topPick">
					<div class="userPortrai"><img src="../../../assets/img/skin_system_banner1.jpg" /></div>
					<div class="name">美肤大白</div>
				</li>
				<li>
					<div class="userProblem">
						<img src="../../../assets/img/ai_qa/user_qa_homepage_wt.png" />
						<span>防晒如何选择？</span>
					</div>
					<div class="userProblem problemSpan">
						<img src="../../../assets/img/ai_qa/user_qa_homepage_bq.png" />
						<span>干燥</span>
						<span>细纹</span>
						<span>黑头</span>
					</div>
					<div class="ProblemContent">
						夏天皮肤容易过敏，怎样才能预防或是改善这样的情
						况，皮肤也容易红肿！
					</div>
				</li>
				<li class="userPicture clearfix">
					<div><img src="../../../assets/img/skin_system_case_library_uesr_picture_one.jpg"/></div>
					<div><img src="../../../assets/img/skin_system_case_library_uesr_picture_one.jpg"/></div>
				</li>
			</ul>
		</div>
		<div class="middleContainer">
			<ul class="content">
				<li class="clearfix topPick">
					<div class="userPortrai"><img src="../../../assets/img/skin_system_banner1.jpg" /></div>
					<div class="name">清风</div>
				</li>
				<li class="answerContent">
					夏天皮肤容易过敏，怎样才能预防或是改善这样的情
					况，皮肤也容易红肿！
					夏天皮肤容易过敏，怎样才能预防或是改善这样的情
					况，皮肤也容易红肿！
					夏天皮肤容易过敏，怎样才能预防或是改善这样的情
					况，皮肤也容易红肿！
				</li>
			</ul>
			
		</div>
		<div class="sternContainer">
			<textarea id="answerContent" placeholder="解答" ></textarea>
			<div class="submitBtn" id="submitBtn">提交</div>
		</div>
		
		<script type="text/javascript" src="../../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../../assets/js/ai_qa/user_answer_question.js" ></script>
	</body>
</html>
