/*we page*/
.banner{
	width: 100%;
	min-width: 1000px;
}
.banner img{
	width: 100%;
}
.container{
	margin: 46px auto;
	width: 83%;
	min-width:1000px;
	display: flex;
}
.container_left{
	width: 50%;
}
.container_left img{
	width:100%;
	display: block;
}
.container_right{
	width:48%;
	margin-left: 15px;
	border-top:1px solid;
	border-bottom:1px solid;
}
.container_right h2{
	font-size:16px;
	font-weight:bold;
	margin-top: 25px;
	margin-bottom: 20px;
}
.container_right{
	font-size:12px;
}
.container_right div{
	margin-top: 6px;
}
.container_right div p{
	margin-top: 1px;
} 
.container_right .address{
	margin-top: 20px;
}






