<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1">
		<title>肌肤导航</title>
		<link rel="stylesheet" href="../../assets/css/common/mui.min.css" />
		<style>
		html,body{background: white;}
			header{width: 100%;}
			header img{width: 100%;display: block;}
			.skin_nav_img{width: 80px;height: 80px;margin-top:17px;}
			.mui-table-view{height:300px;width: 98%;padding-top: 13px;margin: 0 auto;}
			.mui-table-view:after{background-color:none;content: none;}
			ul li{width:33%;float: left;text-align: center;line-height: 30px;}
			.mui-table-view p{overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
		</style>
	</head>
	<body>
		<header>
			<img src="../../assets/img/jlcl_homepage_skin_navigation_top.jpg">
		</header>
	    <ul class="mui-table-view mui-clearfix">
	        <li>
	            <a href="#">
	                <img class="skin_nav_img" src="../../assets/img/jlcl_homepage_skin_navigation_correctmethod.svg">
	                <p>正常肌肤使用</p>
	            </a>
	        </li>
	        <li>
	            <a href="#">
	                <img class="skin_nav_img" src="../../assets/img/jlcl_homepage_skin_navigation_solveskinmatter.svg">
	                <p>解决肌肤问题</p>
	            </a>
	        </li>
	        <li>
	            <a href="major_team_skinguide.html">
	            	<img class="skin_nav_img" src="../../assets/img/jlcl_homepage_skin_navigation_specializedguidance.svg">
	                <p>专业护肤指导</p>
	            </a>
	        </li>
	        <li>
	            <a href="#">
	                <img class="skin_nav_img" src="../../assets/img/jlcl_homepage_skin_navigation_casehistory.svg">
	                <p>个人历史记录</p>
	            </a>
	        </li>
	        <li>
	            <a href="#">
	                <img class="skin_nav_img" src="../../assets/img/skin_navigation_my_aq.png">
	                <p>我的问答</p>
	            </a>
	        </li>
	       
	        
	    </ul> 
		<script type="text/javascript" src="../../assets/js/common/jquery.min.2.1.1.js" ></script>
		<script type="text/javascript" src="../../assets/js/common/mui.min.js" ></script>
	
	</body>
</html>
