<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯蜂妍凝金多元修护精华水140ml</title>
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css"/>
	<style>
		.product_intro_content{
			min-height: 942px;
			background: url(../../../assets/img/jlcl_pc_single_product_big_water_background.jpg) center center no-repeat;
		}
		
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		<div class="product_intro_content">
			<div class="particulars">
				<div class="particulars_top">
					<p class="en_name">MULTIV ARIATE REPAIR<br>SKIN ENERGY LOTION</p>
					<p class="cn_name">赫伯蜂妍凝金多元修护精华水</p>
					<p class="cut_off_rule"></p>
					<p class="big_title">重启肌肤初生之钥</p>
					<p class="efficiency">含量 [ 140ml ]<br>功效：修护+防御</p>
				</div>
			</div>
			<div class="purpose">
				<p>用途：采用微乳化技术使营养物质渗透到肌肤深层，滋润、修复干渴肌肤。改变肌肤干燥、粗糙等现象，让肌肤恢复健康，由内而外透出活力光彩。</p>
				<p class="usage">用法：洁面后取适量均匀涂于皮肤上，轻拍至吸收。</p>
			</div>
		</div>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
	</body>
</html>
