<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯茉莉凝蜜润体乳</title>
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
	<style>
		
		.product_intro_content{
			min-height: 942px;
			background: url(../../../assets/img/jlcl_pc_single_product_body_lotion_background.jpg)center center no-repeat;
		}
		
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		<div class="product_intro_content">
			<div class="particulars">
				<div class="particulars_top">
					<p class="en_name">JASMINE AND<br>HONEY BODY LOTION</p>
					<p class="cn_name">赫伯茉莉凝蜜润体乳（清香型）</p>
					<p class="cut_off_rule"></p>
					<p class="big_title">肌肤持久保湿滋养</p>
					<p class="efficiency">含量 [ 250ml ]<br>功效：深层滋润+长效保湿+柔软细滑</p>
				</div>
			</div>
			<div class="purpose">
				<p>用途：为容易干燥的肌肤设计，乳液质地，清新易吸收。蕴含茉莉精华等多种优质滋养成分，帮助营养、滋润肌肤，使肌肤保持柔嫩触感。</p>
				<p class="usage">用法：沐浴后涂抹于身体肌肤，能滋润肌肤，带给肌肤柔软感受。</p>
			</div>
		</div>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
	
	</body>
</html>
