<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯净透皙颜洁面慕丝125ml</title>
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
	<style>
		.product_intro_content{
			min-height: 942px;
			background: url(../../../assets/img/jlcl_pc_single_product_cleanser_background.jpg) center center no-repeat;
		}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		<div class="product_intro_content">
			<div class="particulars">
				<div class="particulars_top">
					<p class="en_name">BRIGHTENING & REFRESHING<br>FACIAL CLEANSING MOUSSE</p>
					<p class="cn_name">赫伯净透皙颜洁面慕丝</p>
					<p class="cut_off_rule"></p>
					<p class="big_title">还原肌肤健康本色</p>
					<p class="efficiency">含量 [ 125ml ]<br>功效：温和+净澈+保湿+透亮</p>
				</div>
			</div>
			<div class="purpose">
				<p>用途：质地温和、舒适，适用于所有肌肤类型。帮助清洁、柔嫩肌肤，使用后令肌肤恢复清爽舒适。</p>
				<p class="usage">用法：取适量于掌心，将泡沫涂抹于面部肌肤，画小圈的动作按摩肌肤，特别于T字部位加强清洁，然后以清水彻底清洗干净。使用中避免接触眼睛。</p>
			</div>
		</div>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
	
	</body>
</html>
