<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯蜂妍凝金多元修护眼唇霜</title>
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
	<style>
		.product_intro_content{
			min-height: 942px;
			background: url(../../../assets/img/jlcl_pc_single_product_eye_cream_background.jpg) center center no-repeat;
		}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		<div class="product_intro_content">
			<div class="particulars">
				<div class="particulars_top">
					<p class="en_name">MULTIV ARIATE REPAIR<br>EYE AND LIP CREAM</p>
					<p class="cn_name">赫伯蜂妍凝金多元修护眼唇霜</p>
					<p class="cut_off_rule"></p>
					<p class="big_title">焕活双眸年轻精彩</p>
					<p class="efficiency">含量 [ 15ml ]<br>功效：平抚眼纹+淡化唇纹<br>紧致眼周+淡褪浮肿</p>
				</div>
			</div>
			<div class="purpose">
				<p>用途：霜体质感柔滑、细腻。能帮助滋养皮肤、提升皮肤紧实度。使用后令眼周皮肤光滑、紧实上扬；令唇部皮肤滋润、柔软。</p>
				<p class="usage">用法：每日早/晚，将适量产品均匀涂抹于眼周肌肤及双唇，轻轻按摩帮助吸收。</p>
			</div>
		</div>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
	
	</body>
</html>
