<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>赫伯蜂妍凝金多元修护霜</title>
		<link rel="stylesheet" href="../../../assets/css/chinese_version/homepage.css" />
	<style>
		.product_intro_content{
			min-height: 942px;
			background: url(../../../assets/img/jlcl_pc_single_product_frost_background.jpg) center center no-repeat;
		}
	</style>
	</head>
	<body>
		<header class="clearfix">
			<div class="nav_box">
				<div class="logo_box">
					<img class="top_logo" src="../../../assets/img/jlcl_pc_homepage_logo.svg" />	
				</div>
				<ul class="navigation clearfix">
					<li><a href="../../../index.html">首页</a></li> 
					<li><a href="../news_information_page.html">新闻资讯</a></li>
					<li><a href="../product_page.html">赫伯产品</a></li>
					<li><a href="../hot_sale_page.html">热销榜单</a></li>
					<li><a href="../brand_story_page.html">品牌故事</a></li>
					<li><a href="javascript:;">中文&nbsp|&nbspEN</a></li>
				</ul>
			</div>
		</header>
		<div class="product_intro_content">
			<div class="particulars">
				<div class="particulars_top">
					<p class="en_name">MULTIVARIATE REPAIR <br>REGENERATION CREAM</p>
					<p class="cn_name">赫伯蜂妍凝金多元修护霜</p>
					<p class="cut_off_rule"></p>
					<p class="big_title">修护肌肤从肌底开始</p>
					<p class="efficiency">含量 [ 50ml ]<br>功效：修护防御+抵抗初老</p>
				</div>
			</div>
			<div class="purpose">
				<p>用途：蜂妍凝金多元修护霜，护肤科技的完美呈现，重塑肌肤修复机能，令肌肤倍感紧致、弹性，珍贵成分与肌肤快速融合，深度滋养肌肤，有效延缓肌肤衰老，为肌肤创建完整防御薄膜，日渐紧致光滑。</p>
				<p class="usage">用法：每日早晚使用，取适量面霜于掌心，双手自然润开由下向上、由内向外涂抹于皮肤上，配合提升紧致手法，效果更佳。</p>
			</div>
		</div>
		
		<footer>
			<ul>
				<li><a href="javascript:;">选择语言</a></li>
				<li><a href="javascript:;">关于赫伯</a></li>
				<li><a href="../bottom_contact_us.html">联系我们</a></li>
				<li><a href="javascript:;">条件与条款</a></li>
				<li><a href="javascript:;">快递查询</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">网站地图</a></li>
				<li>备号：京ICP备14055950号-2</li>
			</ul>
		</footer>
	
	</body>
</html>
